[2021-08-07 09:28] ashett13 commented on #2244
If you are using python 2.7
Install below version
pip install Appium-Python-Client==0.52
pip install robotframework-appiumlibrary==1.6

[2021-08-09 12:14] Saruto85 opened #2405 "How to send AWS credentials with GET request in RIDE please?"
${params}=    Create Dictionary    Authorization=AWS4-HMAC-SHA256 Credential=fsdf/aws4_request, SignedHeaders=content-type;host;x-amz-date, Signature=sdfsdf

    Create Session    newSession    ${base}
    ${response}=    Get On Session    newSession    url=${oldActCode}    headers=${params}
    ${status_code}=    convert to string    ${response.status_code}

It gives me 403 error, un authorized.

[2021-08-09 15:11] HelioGuilherme66 commented on #2405
@Saruto85 Sorry, this is not a RIDE specific problem. I see that you already asked about this on other forums,  hope you get an answer there.

[2021-08-09 15:11] #2405 closed

[2021-08-10 22:34] HelioGuilherme66 commented on #1293
It is 2021 and now I found this bug. Really annoying :(.
I passed this in arguments:  `--variable "external_var:This is external var definition"` or  `--variable "external_var:This is external var definition"`
`robot` in command line (shell) works fine.
On RIDE we get red color on arguments text box, and tool tip shows: `Unknown option(s): ['is', 'external', 'var', 'definition"']`
The processed ar

[2021-08-12 10:24] amittendulkar opened #2407 "RIDE v2.0b1: RIDE shows the decorator arguments in the keyword help even after using functools.wraps"
RIDE v2.0b1 running on Python 3.8.5.

Suppose I have a python library like the below. You can notice that I am using a decorator to print the function arguments. To preserve the original keyword function signature, I have used the `functools.wraps` decorator for the decorator itself.

[code]

After the `functools.wraps` decorator the `LibDoc` is able to generate the help of `activate_config_file`

[2021-08-12 10:26] amittendulkar commented on #2407
This issue is derived from https://github.com/robotframework/robotframework/issues/4058

[2021-08-12 20:31] HelioGuilherme66 commented on #2407
@amittendulkar Thanks for the report. RIDE is still using internally the version 3.1.2 of Robot Framework, so new features since 3.2.2 may be missing or incompatible.
The effort to adjust to RF 3.2.2 and 4.1.1, has shown to be too big (for me the lonelly maintainer of this project), so I decided to make version 2.0 as a patched version with important features.

It may take a while to have this inc

[2021-08-16 09:55] yuwy9988 opened #2408 "python3.9+robotframework+ride Chinese error"
python3.9+robotframework+ride
It's no use modifying  testrunnerplugin，unic.py,testrunner,
How can we solve it

![image](https://user-images.githubusercontent.com/89013845/129545455-0296a6f6-ba7f-4ab5-8b0f-bc4736be564f.png)

[2021-08-16 10:02] yuwy9988 commented on #2361
python3.9 543行不是这个

[2021-08-16 10:59] HelioGuilherme66 commented on #2408
@yuwy9988 That is not a RIDE error. That is an error from the keyword in Requests Library, because you are seeing it from the log of `robot`.

You should try to do the proposed encoding of the request.

[2021-08-16 10:59] #2408 closed

[2021-08-16 11:13] yuwy9988 commented on #2408
How should I set it  and How to set when the label page disappears run tag

[2021-08-16 11:15] yuwy9988 commented on #2361
![image](https://user-images.githubusercontent.com/89013845/129555367-060d80e5-47ae-4313-b683-bf232e8dfaa1.png)

[2021-08-16 11:22] HelioGuilherme66 commented on #2361
Need the output of command `chcp` in a command window.
This is mine:
[code]

And you should try running `robot` in a command window to confirm the console log shows OK.

This is only a visual problem on RIDE, for the Console Log, not for the Output Log.

[2021-08-16 11:27] yuwy9988 commented on #2361
change post request ok

[2021-08-16 11:28] yuwy9988 commented on #2361
How to set when the label page disappears run tag

[2021-08-16 12:05] yuwy9988 opened #2409 "run tag page disappear How do you get it back"
![image](https://user-images.githubusercontent.com/89013845/129561007-55dde881-dbff-4b05-af6f-c81cdbe0fd92.png)

[2021-08-16 12:10] HelioGuilherme66 commented on #2409
There should be some info at Tools>View RIDE Log

Usually to fix, you need to remove the settings from the TestRunner plugin on the settings.cfg file.
You can also see if it is enabled in the Manage Plugins.

[2021-08-16 12:19] yuwy9988 commented on #2409
It's solved. Thank you

[2021-08-16 12:54] #2409 closed

[2021-08-18 19:23] HelioGuilherme66 opened #2410 "Improvements on MacOS installer and app"
The MacOS installer was a good PR.
But there two things we need to do:
- Write instructions on how to edit /etc/paths, have that info (action item) in Run "missing RF" pop-up.
       The action item should open editor with root auth and try to get the PATH env and conciliate with /etc/paths content
- Make app icon not transparent, and have an action item somewhere to propose exchanging icon to dar

[2021-08-23 20:33] MummanaSubramanya commented on #2396
Hi can you please tell me how you got wxPython 4.0.7.post2 with centos6.8 ? I could not find wxpython in this link https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ . I could only see centos7 and centos8. Can you please share the details?

[2021-08-23 21:13] HelioGuilherme66 commented on #2396
@MummanaSubramanya What is the Python version you have? It should be possible to use CentOS 7 files. Did you tried?

[2021-08-24 06:56] MummanaSubramanya commented on #2396
Im trying to python3.8 when I try to install wxpython its says "wxPython-4.0.7.post2-cp36-cp36m-linux_x86_64.whl is not a supported wheel on this platform."

[2021-08-24 07:58] HelioGuilherme66 commented on #2396
Of course the python version must match the wheel package. If you don't find the correct package, then you must build it.

But you can have RIDE installed in the stock version of Python 3.6 and use other Python to actual run the tests,

[2021-08-27 07:06] ChrisSchneebauer opened #2411 "Move lines up/down does not work correctly"
Hi, we're using RIDE v2.0b1 with Python 3.8.10, Windows.

Problem is, when selecting a line in the editor and moving the line with SHIFT-ALT-UP (or DOWN), the line can only be moved one line. Because the focus remains on the originally selected line.

This seems to be similar to an old issue: #767

Also occurs with current master (v2.0b2.dev3).

[2021-09-01 23:25] HelioGuilherme66 opened #2412 "Fix Arguments file generator to not split quoted strings"
See the description here: https://github.com/robotframework/robotframework/issues/4076

[2021-09-06 06:19] yuwy9988 opened #2413 "How can I make him execute in the order of use cases"

[2021-09-07 01:37] #2413 closed

[2021-09-08 03:47] Fengjiya opened #2414 "Option "Only run tests with the tags" not working with specific patterns like '1-S_IMPORT_33'"
Hi，I come to meet some errors with tags like '1-S_IMPORT_01' /'1-S_IMPORT_25'/'1-S_IMPORT_XXX' when using "Only run tests with these tags",it doesn't works with ERROR msg:
[ ERROR ] Suite 'Scbn Uitest' contains no tests matching tag '1-S IMP OR T 01' and matching name '' in suites 'xxx'.

But the option works well with tags like '1-SY_W_015'、'1-ZCQQFBTZQYFB_002' etc.

Here is my system info:
pytho

[2021-09-08 10:44] HelioGuilherme66 commented on #2414
This is a known problem with Robotframework. The labels are being interpreted as using the OR operator. Verify if running on the command line generates the same error. Search Robotframework docs or forums on that. Try to use lowercase labels in the filter call.

[2021-10-04 15:36] VII-Year opened #2415 "Auto Completion doesn't work after running a testcases on MacOS"
Hi,
I have a problem in using RIDE. When I open RIDE, auto completion shortcut key option+space works well. But after I run a testcase, it seems that the shortcut keys does not work any more until I restart RIDE.
Is this a bug? Or is there some workaround to avoid this problem?
Thanks.

- RIDE v2.0b2.dev3 running on Python 3.9.7.
- MacOS  Big Sir Version 11.6

[2021-10-05 06:39] Guneet20844 opened #2416 "Regarding RIDE framework error"
While I am trying to run my test case in RIDE I am getting error .Python insallation not found . Even though I have installed python and added its path in environment variable. So what should I do .Where I need to save my project  so that it can recognize the path

[2021-10-05 19:42] Harm10 commented on #2416
I can already guess the first reply: what version of RIDE, robot framework and Python?
You can check in command box with command `where python` if the PATH setting is OK.
Another command to test whether the packages are correctly installed `pip list`

[2021-10-18 11:28] chevi opened #2417 "Improve: Log file with row numbers equal to row numbers in the RIDE"
Hi

Problem: when you read a log file of the long test you see row, where your test failed. Then you open RIDE and search needed row for fix. This annoying and take time

Suggestion:
Add to log file row numbers
![image](https://user-images.githubusercontent.com/1729590/137719381-323b39f1-281f-48bd-948a-d0d754f8ca70.png)
So you can get row number (12) in log and very fast find it in the editor:
NOT

[2021-10-21 03:29] JioHooney opened #2420 "RIDE Not working"
https://github.com/robotframework/RIDE/issues/2149
->  I've already seen this problem and tried installing SF Mono but it didn't solve it.

python and OS X are up to date, but I'm having problems.

[code]

OS X 11.6 Big Sur
Python 3.8.9
pip 21.3 from /Library/Python/3.8/site-packages/pip (python 3.8)

robotframework      3.1.2
robotframework-ride 2.0b1

`root# ride.py
2021-10-21 12:29:04.840 Pytho

[2021-10-29 02:40] steverawlins-zebra opened #2421 "Crashes on MacOS"
I installed RIDE today to give it another shot.  Is it expected to work on MacOS?

I am running on a MacBook Pro, Catalina 10.15.7

Process:               Python [5765]
Path:                  /Library/Frameworks/Python.framework/Versions/3.6/Resources/Python.app/Contents/MacOS/Python
Identifier:            Python
Version:               3.6.8 (3.6.8)
Code Type:             X86-64 (Native)
Parent Pr

[2021-10-31 22:22] #2421 closed

[2021-11-01 10:17] ychavhan opened #2422 "RIDE didn't show the resource files under a directory for few resource files"
I have created a project where I have a directory and I have added two resource files to it in pycharm.
I can see those files in explorer and in PyCharm without any issues but whenever I opens the RIDE IDE, it only shows the parent directory and not the listing the resource files underneath.

[2021-11-01 17:21] HelioGuilherme66 commented on #2422
@ychavhan I cannot reproduce your case, or is missing some clear way to reproduce. Did you reopen the project after creation of the files?
Below is a screenshot of an example test, where the unused resource files appear with names in gray color:
![image](https://user-images.githubusercontent.com/2866630/139712938-157e0bd4-2a97-45fe-92b7-18445c08d645.png)

[2021-11-02 04:11] ychavhan commented on #2422
@HelioGuilherme66 Yes I have tried with reopening the project multiple times but no luck !
Please find below my setup configuration:
robotframework    v4.1.2
robotframework-ride   v1.7.4.2
wxPython     v4.0.7.post2

Can you share please confirm once if I am using the right Ride version as yours.

Please find the attached snapshots for both PyCharm where I can see the resources files and RIDE IDE w

[2021-11-02 09:17] HelioGuilherme66 commented on #2422
We really have a fix for that in current released 2.0 Beta, as you can see in [CHANGELOG](https://github.com/robotframework/RIDE/blob/master/CHANGELOG.adoc).
Please see how to install that 2.0b1 in the [README](https://github.com/robotframework/RIDE/blob/master/README.adoc).

I would recommend to instal the current development version, since it has more fixes.

[2021-11-02 10:02] ychavhan commented on #2422
Yup it worked in 2.0b1 build. Thank you very much !

[2021-11-02 10:51] #2422 closed

[2021-11-03 07:26] amitlohar opened #2423 "RIDE freezes on every action when large number of variables are imported from file"
In out project, we import variables from 3 different files. Total count of these variables is around **2900**.
We have a main master resource file in which we declare what all is to be imported.

When we try to create a testcase, each and every action takes ~10secs to respond for example ctrl+s action, or even adding/writing something in cell and pressing TAB takes ~10secs to complete/respond. Thi

[2021-11-12 06:21] chevi commented on #2417
Close this issue
I think it should be done by Robot on log.html generation or by custom JS userscript in the browser

[2021-11-12 06:21] #2417 closed

[2021-11-13 08:32] mdks2010 opened #2424 "When will version 2.0 be released?"
When is the official version 2.0 expected to be released? Can  support python3.9?

[2021-11-13 16:21] HelioGuilherme66 commented on #2424
Duplicates #2367

It will be released when ready.
Meanwhile, use the development version as in the [README](https://github.com/robotframework/RIDE).

[2021-11-13 16:21] #2424 closed

[2021-11-17 02:48] JioHooney commented on #2316
I had the same problem
Is it resolved?

[2021-11-17 10:57] HelioGuilherme66 commented on #2316
@JioHooney Can you try the current development version?

[2021-11-20 12:42] HelioGuilherme66 opened #2425 "JSON Editor not saving changes nor validating content"
It is supposed to validate JSON content and really save the changes.

Observed in Windows and Fedora, with current master (2.0b2.dev3).

[2021-11-21 00:25] #2425 closed

[2021-12-06 07:42] MHobijn opened #2428 "Auto-format does not save of leaves dirty"
If you edited a source that needs formating it looks like the formatter does not save or does not remove the dirty-flag. The result is that you have to save again to run a test.

[2021-12-17 13:30] mvdgrift commented on #2355
I have this issue too. Resource files seem to close spontaneously (when using the text editor and switching between resource files and test suites). After that, the entire project has to be reloaded to make the resource file visible again.

[2021-12-20 05:22] Narasimha341 opened #2429 "ride"
not working with stop and pause and continue buttons are those things in ride editor

[2021-12-20 13:33] HelioGuilherme66 commented on #2429
@Narasimha341 You have to edit your Issue report because it is very low quality, and we are in the software quality business, so the reporting should also have quality.

[2021-12-23 12:44] Ishira1601 opened #2430 "ride.py -> Segmentation fault (core dumped)"
**Environment:**
Ubuntu 20.04
Python 3.7
Robot Framework 4.1.3
robotframework-ride   1.7.4.2
wxPython  4.0.7.post2
PyPubSub 4.0.3
Pygments 2.10.0
pillow 7.0.0
six 1.14.0
numpy 1.21.2

I have been using RIDE with python 3.8 for sometime but due to some compatibility issues I had to downgrade to python 3.7. RIDE has since stopped working. I reinstall robot and ride both. The installation itself seem

[2021-12-23 20:12] HelioGuilherme66 commented on #2430
Maybe need more information, strange it only shows the `Segmentation fault (core dumped)`.

Things you can try:
- Completely uninstall RIDE, first with `pip `and then probably even going to site-packages and  removing robotide directory.
  Then install again (maybe is better with `sudo`)
- Try running with:
   `python3 -m robotide.__init__ `
   or
   `python3 -m robotide.__init__  --debugconsole`

[2021-12-25 10:00] aksh721 commented on #2098
I am not able to open ride.py where I have installed below

Python 3.8.5
pip 21.3.1
Robot Framework 4.1.3 (Python 3.8.5 on win32)
 HelioGuilherme66 or any one can you please help me open RIDE IDE

[2021-12-25 14:16] HelioGuilherme66 commented on #2098
@aksh721 Just try to install the development version. Before that upgrade WxPython to 4.1.1.

[2021-12-27 09:02] Ishira1601 commented on #2430
1. Uninstall RIDE
`pip uninstall robotframework-ride`
[code]
2. Deleted robotide from both python3.8 and python3.7 folders
3. Install robotframework-ride
`sudo pip install robotframework-ride`
[code]
4.  `ride.py`
`Segmentation fault (core dumped)`
5. `python3 -m robotide.__init__`
`Segmentation fault (core dumped)`
6. `python3 -m robotide.__init__ --debugconsole`
`Segmentation fault (core dumped)

[2021-12-27 15:36] HelioGuilherme66 commented on #2430
I am trying to reproduce on a VirtualBox image...

[2021-12-30 14:15] Ishira1601 commented on #2430
what's the version of ride I should install because this happens
`pip install robotframework-ride`
`
Processing /home/user/.cache/pip/wheels/fc/7e/ad/62316f036476f8a3eba3830dcb12649d85d209e5a42416c348/robotframework_ride-1.7.4.2-py3-none-any.whl
Requirement already satisfied: Pygments in /home/user/.local/lib/python3.7/site-packages (from robotframework-ride) (2.10.0)
Processing /home/user/.cache/

[2021-12-30 15:24] HelioGuilherme66 commented on #2430
I suspect that wxPython is not working correctly. Please run the following test:
`python3 -c "from wx import VERSION; print(VERSION)"`

If there is some error, then it is missing a dependency, and we need to install.

[2021-12-31 09:48] Ishira1601 commented on #2430
`python3 -c "from wx import VERSION; print(VERSION)"` ->
[code]
According to the FAQ page:  "At the time of this writing, you should use: python3 -m pip install https://extras.wxpython.org/wxPython4/extras/linux/gtk2/centos-7/wxPython-4.0.7.post2-cp36-cp36m-linux_x86_64.whl"

[2022-01-27 15:59] plumrx commented on #2420
Same issue here. Resolved by upgrade wxPython (4.0.x -> 4.1.1)

[2022-02-01 12:27] chevi commented on #2423
We have imports from file and slow performance of the Ride too...
Will test this issue, after fix

[2022-02-03 00:08] leejeffr opened #2431 "Text in certain dialogs is mashed/overlapping during display"
The last letter of the current word and first letter of next word in certain dialogs is running together when rendered to display.

Environment: RIDE v2.0b2.dev4 running on Python 3.9.5.
Running on windows 10 x64
Resolution: 1920 x 1080

![image](https://user-images.githubusercontent.com/5108841/152258289-053a9da0-744e-42f0-8463-aa4cc4f9f883.png)

![image](https://user-images.githubusercontent.com

[2022-02-03 15:38] HelioGuilherme66 commented on #2431
@leejeffr This kind of problem, looks like is not from RIDE but from other related software. Could be wxPython problem, or Windows, or the Font type selected, or even hardware related problem, like graphic card drivers.

I don't see much I can do. Only recommend for you to try to change the Font Type, and also to report what is the wxPython version.

[2022-02-04 00:34] leejeffr commented on #2431
pip show wxpython
Name: wxPython
Version: 4.1.1
Summary: Cross platform GUI toolkit for Python, "Phoenix" version
Home-page: http://wxPython.org/
Author: Robin Dunn
Author-email: robin@alldunn.com
License: wxWindows Library License (https://opensource.org/licenses/wxwindows.php)
Location: c:\users\jeff.lee\appdata\local\programs\python\python39-32\lib\site-packages
Requires: numpy, pillow, six
Req

[2022-02-04 00:39] leejeffr commented on #2431
when I first launch ride it looks fine. Notice the file menu is not cut off.

![image](https://user-images.githubusercontent.com/5108841/152452562-781f310c-f1b8-4b71-84ca-4bee1ce45a07.png)

then I browse around and ride automatically resizes the window from full screen to a smaller size.

![image](https://user-images.githubusercontent.com/5108841/152452751-2559b78b-9b26-4622-b3df-ceaf9a347b43.png)

[2022-02-04 00:51] leejeffr commented on #2431
I think I figured it out. My primary monitor was set to 125% under scale and layout. My secondary monitors were set to 100%. When I moved the app from one screen to another it would cause the overlapping text. Changing the primary monitort to match the others at 100% fixed the render/overlapping display issue with the text.

You may close the issue.

![image](https://user-images.githubusercontent.

[2022-02-04 10:03] HelioGuilherme66 commented on #2431
Yes, this is something out of scope of RIDE handling. An entry to the FAQ would be nice to have.

[2022-02-04 10:03] #2431 closed

[2022-02-15 20:58] axiom41 opened #2433 "Saving .robot file in grid mode breaks some specific keywords (RIDE v2.0b2.dev5)"
Hello.
I'm using the library "robotframework-seleniumscreenshots 0.9.5" (https://pypi.org/project/robotframework-seleniumscreenshots/) and, after updating RIDE to the latest v2.0b2.dev5, when i edit a .robot file containing keywords from such library, RIDE breaks each of them by replacing a character with 4 "spaces" and consequently changing the rest of the KW that stops to work after that

for ex

[2022-02-16 11:17] HelioGuilherme66 commented on #2433
Thanks for the report @axiom41. The changes I did in code were exactly on the area of processing # as the start of a comment, but I did not consider all possible situations, including the ones you show (use in css or color markers).
I'll work on fixing this as soon as possible.

[2022-02-16 11:22] HelioGuilherme66 commented on #2429
Closing this, just to have one less in the list ;)

[2022-02-16 11:22] #2429 closed

[2022-02-17 02:21] #2433 closed

[2022-02-17 07:33] axiom41 commented on #2433
Hi @HelioGuilherme66
I just tested it and it seems to work on those KW
I additionally tested, for example, on a list variable that was initially defined as:
**@{test1} | first | # | second | # | third**

that, after a "sanity check" error on save, is still changed to:
**@{test1} | first | # \ \ \ second \ \ \ # \ \ \ third**

In this case, using the escape char \ right before # seems to solve the

[2022-02-17 09:29] irapths opened #2435 "If # character is in Documentation it is automatically changed-reformated"
Hello

When a RF file opened with RIDE its documentation parts (`Documentation` and `[Documentation]`) that contain '#' character are automatically changed.
All characters from '#' until the end of the line are removed from place and appended to the 1st line of `Documentation` or `[Documentation]` they are inside. If there are more than one lines they are appended also.

**Example**
This KW
[code]

[2022-02-17 09:42] HelioGuilherme66 commented on #2435
@irapths Thanks for the report.
The # processing is at very low level, on the moment the file is read from the disk. This means that the separation in "cells" is not considering the context of where they are. The system does not know if inside a Documentation block or other.

Is this really a problem of having the continuing line marker (...) resolved to empty line? Did you get a warning of deprec

[2022-02-17 09:46] axiom41 commented on #2433
A new bug has been introduced with this change (not present in previous 2.0b2.dev5) in the Test Case grid mode: Setup, Teardown, Template and Tags are not showing in their own fields in Settings but they are added in the Test Case grid as additional lines (see red rectangles in picture below); also, a blank column is added at the beginning of each line in the grid (see orange rectangle in picture

[2022-02-17 11:06] irapths commented on #2435
Hello @HelioGuilherme66 and THANK YOU VERY MUCH about all the effort of maintaining RIDE

In my company we all use RIDE as main editor and execute Test from inside it and from command line (windows) and Jenkins (Linux), but never had any deprecation warning as you mention.
To be honest I'm not even aware of the deprecation of _continuing line marker (...) resolved to empty line_ inside the Documen

[2022-02-17 11:51] HelioGuilherme66 commented on #2435
@irapths Good that you risk to use the development version. It helps me detecting problems soon.

I am working on this # comments, because I need to fix indentation for nested FOR, and then for IF, WHILE and TRY/EXPECT.
The original RIDE always reformat content (on Text Editor), and there is no easy way to avoid that (only by using a "dumb" text editor, like the builtin CustomSourceEditor, with Fi

[2022-02-17 12:34] HelioGuilherme66 opened #2436 "Setup and Teardown tables corrupted after PR #2434"
A new bug has been introduced with this change (not present in previous 2.0b2.dev5) in the Test Case grid mode: Setup, Teardown, Template and Tags are not showing in their own fields in Settings but they are added in the Test Case grid as additional lines (see red rectangles in picture below); also, a blank column is added at the beginning of each line in the grid (see orange rectangle in picture

[2022-02-17 13:24] irapths commented on #2435
My bad I didn't include environment info
[code]

I don't know if this help but I tried to disable the "Text Editor" and after restart I opened the same file with "Grid Editor".
The results were the same. Sting `    # char |` was not visible in "Documentation" area nor in "Documentation" editor window.
Any changes I make in Documentation are saved and the `    # char |` string continues to be on th

[2022-03-03 05:58] wang-qa opened #2437 "Linux install failed"
![image](https://user-images.githubusercontent.com/58168764/156505330-22f2ef0b-cbe6-4b8d-af2c-873136fc7b34.png)

[code]

[2022-03-18 14:57] irapths opened #2438 "RIDE freezes when try to edit an existing list or dictionary variable"
## The problem
RIDE freezes when try to edit an existing list or dictionary variable.
(via Edit and not via Text Edit)

## Steps to reproduce
1. Open an existing resource file
2. Use Editor UI
3. Create a new _List_ variable (OR a _Dictionary_)
   Result: The _List Variable_ pop-up window is visible (OR the _Dictionary Variable_)
4. Use a valid name
5. Add at least one item
6. Save the variable
7.

[2022-03-18 15:27] irapths opened #2439 "RIDE needs lot of time to finish "Find Usages" operation."
## The problem
RIDE needs lot of time to finish "Find Usages" operation.

## Steps to reproduce
1. Open an existing project
2. Right click on a KW on the _Test Suits_ tree-view
3. Select _Find Usages_
  Result: Pop-up window for results of the operation opens
4. Wait until the operation finish
  Tip: Wait until the part **Searching ...** disappears from the window title
5. Check the needed time to

[2022-03-18 22:37] malayamithun commented on #2355
I am also in the same state. I am using "RIDE v2.0b1 running on Python 3.9.7."
Even if not a Fix, some workaround would be really appreciated.

[2022-03-21 13:20] HelioGuilherme66 commented on #2355
I would like some good information on how to reproduce the cases.
(include the first lines of RIDE->Tools-View RIDE Log)

I need to understand on what Test Suite the resource is imported, because on the original post, the resource is colored as not used.

If you can create a ZIP file with some example directories and test suites and resources, and attach here, with explanation of steps to reproduc

[2022-03-25 05:54] WarWolflll opened #2440 "RIDE didn't show the resource files under a directory for few resource files"
Hello, my issue is the same with issue #2422. I have created a project where I have a directory and I have added directories in it. But when I exit RIDE and re-open it, it only shows the parent directory and not the listing the resource files underneath.

My setup configuration:
robotframework                 4.1.3
robotframework-ride            2.0b2.dev5
wxPython                       4.1.1

[2022-03-25 13:59] robtail opened #2441 "IF - Keyword was not detected by RIDE"
Hi

"IF" -keyword was not found by RIDE.
"IF" and ELSE Not in the help list (ctrl+space) and looks black if i type it into Edit.
![image](https://user-images.githubusercontent.com/77631362/160134889-2440806e-4dd0-4f29-9eb2-85d6865dce6d.png)

I have RIDE v2.0b1 running on Python 3.7.9.  along with this lib versions:
robot                              20071211
robotframework                     4.1.

[2022-03-28 21:38] HelioGuilherme66 commented on #2441
Thanks for the report. This is a known fault, as the robotframework version for keywords identification is 3.1.2.

If I don't make a fix for the next release, then will go on 2.1.

[2022-04-12 14:10] rbradhika530 commented on #1837
Hi [HelioGuilherme66](https://github.com/HelioGuilherme66)

I am not able to add .yml file to ride, any fix or solution,

[2022-04-12 14:22] rbradhika530 commented on #2359
but in windows in same Test suit I am able see YML file

[2022-04-12 14:25] rbradhika530 commented on #2359
I want to switch from  tthis version of ride v2.0b2.dev5  to stable version

[2022-04-12 14:39] HelioGuilherme66 commented on #2359
@rbradhika530 I wrote on the [FAQ](https://github.com/robotframework/RIDE/wiki/F.A.Q./_edit#13--q-i-have-installed-the-development-version-v20b2dev5-but-it-is-broken-how-can-i-revert-to-a-previous-version) how to.

[2022-04-13 00:23] rbradhika530 commented on #2359
I don't need dev version, I want to install some stable version, like 1.7.4.3.1 like this.
Please suggest

[2022-04-13 00:25] rbradhika530 commented on #2359
Please suggest solution on MAC OS for .YML file, how to import it

[2022-04-13 01:04] HelioGuilherme66 commented on #2359
@rbradhika530 Latest version is v1.7.4.2 up to python 3.7, v2.0.b1 is first Beta and should work on Python 3.8.

You should try the answer I wrote on Q13 in FAQ.

[README](https://github.com/robotframework/RIDE#welcome-to-the-development-version-of-ride---next-release-will-be-version-20)

[2022-04-13 13:57] aaresuresh opened #2442 "Unable to install robot framework. getting below errorr"
$ pip3 install robotframework-ride
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: robotframework-ride in ./.local/lib/python3.8/site-packages (1.7.4.2)
Requirement already satisfied: PyPubSub in ./.local/lib/python3.8/site-packages (from robotframework-ride) (4.0.3)
Collecting wxPython<=4.0.7.post2
  Using cached wxPython-4.0.7.post2.ta

[2022-04-14 08:49] HelioGuilherme66 commented on #2188
@aaresuresh Please don't ask for support on closed issues, and in this bug tracker. Use the other communication ways as mentioned on the README file. Loog in the Wiki for similar problems related with the installation of wxPython (you are trying to build it, when you should have gotten the package from wxpython.org).

[2022-04-14 08:53] HelioGuilherme66 commented on #2442
From the[ README.adoc:](https://github.com/robotframework/RIDE#readme)

And don't build wxPython, search on how to get the pre-built package.

[2022-04-14 08:53] #2442 closed

[2022-04-21 10:17] zhuyu4839 opened #2443 "When a variable is a bytes and contains non-charater ascii, the log info doesnot output anymore"
![20220421-181435](https://user-images.githubusercontent.com/15953541/164434114-f0f36a77-202b-493e-939c-dc0d0e8b7236.jpg)
![20220421-181616](https://user-images.githubusercontent.com/15953541/164434142-94852ad0-013c-4c62-b7b2-fd0b71e89a67.png)

[2022-04-21 10:20] zhuyu4839 commented on #2443
robotframework-ride       2.0b1

[2022-04-25 10:21] rbradhika530 commented on #2359
Hi which version of Ride I can use with python 3.9
As I am facing some complience issue with python 3.7 on my windows

[2022-04-25 10:38] rbradhika530 commented on #2359
after doing this as per FAQ, still beta version is there, I need to install v1.7.4.2

[2022-04-25 10:59] rbradhika530 commented on #1678
Hi Can I use this with Ride v2.0b1 ?

[2022-04-25 18:01] HelioGuilherme66 commented on #1678
Like I said, it will go on Beta2, which is the current development code.

[2022-04-25 18:06] HelioGuilherme66 commented on #2443
@zhuyu4839 Please attach a sample test case file, so we can reproduce on our side.
Thanks.

[2022-04-26 10:17] robtail commented on #2441
Hi,
Thanks for all your effort to keep Ride alive!! :)
Best Regards,
Robert

[2022-04-26 10:17] #2441 closed

[2022-04-28 17:47] rbradhika530 commented on #2410
Hi [HelioGuilherme66](https://github.com/HelioGuilherme66)
Please suggest which version is compatible with python 3.9 on mac os because currently I am trying to install with
pip3 install -U https://github.com/robotframework/RIDE/archive/master.zip - this is giving beta version.
I want to install RIDE 1.7.4.2,
Please share instruction for this to execute on Mac Os.
Thanks

[2022-04-28 18:47] HelioGuilherme66 commented on #2410
@rbradhika530 You have to use Python 2.7 or 3.6 or 3.7. See the README of this project.

[2022-04-28 19:27] rbradhika530 commented on #2338
<img width="1674" alt="image" src="https://user-images.githubusercontent.com/103515571/165830754-1d5d440c-9367-412a-a25b-5e04f7477466.png">
How to make Test suit visible with this version of ride in python 3.9

[2022-04-28 19:28] rbradhika530 commented on #2338
@HelioGuilherme66 Please help here

[2022-04-28 20:37] rbradhika530 commented on #2410
Ok, but I want to install python 3.9 with ride.
Please suggest specific version for this on mac.
@HelioGuilherme66

[2022-04-28 21:27] HelioGuilherme66 commented on #2338
@rbradhika530 Please don't comment on closed issues, and use different channels for support (see README).

The text is white and the same color of the background. This is fixed in current development version.

[2022-04-28 21:29] HelioGuilherme66 commented on #2410
@rbradhika530 See the README, the current development version is the one working on Python 3.9.

[2022-04-29 01:29] rbradhika530 commented on #2338
@HelioGuilherme66 sure will open new issue, can you please share that development version or link?

[2022-04-29 08:10] HelioGuilherme66 commented on #2338
@rbradhika530 See this FAQ answer: https://github.com/robotframework/RIDE/wiki/F.A.Q.#13--q-i-have-installed-the-development-version-v20b2dev5-but-it-is-broken-how-can-i-revert-to-a-previous-version

[2022-05-02 19:38] HelioGuilherme66 commented on #1971
@agagalski @jasksoren @yncs1880
You can now try a fix for this on current master branch.

[2022-05-03 01:20] zhuyu4839 commented on #2443
- [ ] **test.robot**

`*** Settings ***
Library           keywords.py

*** Variables ***
${HOST}           ('192.168.8.104', 8081)
${TARGET}         ('192.168.8.104', 8080)

*** Test Cases ***
TEST
    [Documentation]    Test
    ${ret}    Udp Query    ${HOST}    target=${TARGET}    data=[0x80, 0x00, 0x01, 0x00, 0x00]
    Log    Test`

- [ ] **keywords.py**
`import re
import socket
import time
imp

[2022-05-03 01:22] zhuyu4839 commented on #2443
@HelioGuilherme66 The test case and the keywords file are here.

[2022-05-03 09:52] agagalski commented on #1971
Thanks for enhancement!
Currently I stopped automating with robot (temporary I hope). I quickly installed v2.0b2.dev6 - it looks completely different than robot from 3 years ago when I reported this issue., so it's hard for me to test.
On example file, even though I have option 'Reformat' deselected (in Saving card), after I press ctr+s code is automaticaly reformatted still (or even after opening

[2022-05-03 12:19] axiom41 commented on #2436
Hi Hélio.
I just downloaded and tested the new RIDE v2.0b2.dev6 (running on Python 3.7.9 and Windows).
This issue seems resolved and now all the Tables work fine and grid is no more corrupted.

I think you can close also this one then.

[2022-05-08 15:04] HelioGuilherme66 commented on #1687
This is fixed by stopping the log when a memory limit is reached. The following message is shown in the log:
[code]

[2022-05-08 15:04] #1687 closed

[2022-05-08 23:09] #2292 closed

[2022-05-10 05:50] rbradhika530 commented on #1858
@HelioGuilherme66 how to open keyword in Ride, unable to open it like we are doing in windows using ctr

[2022-05-10 10:30] HelioGuilherme66 commented on #1858
@rbradhika530 There are other support media to use, you should not comment on closed issues, and only report problems. I doubt you be using RIDE 1.7.3.1 on Python 3.7.2 and MacOS 10.14.4. That information is on [Release Notes](https://github.com/robotframework/RIDE/blob/master/doc/releasenotes/ride-1.7.4.rst):

- There are some important changes, or known issues:
  - On MacOS to call autocomplete

[2022-05-10 22:58] HelioGuilherme66 commented on #2435
@irapths Please see if there was improvements on this area, in current development version 2.0b2.dev7.
(# in doc GUI still not visible) and (this is a keyword: `\# NOT KW code line comment because    # is escaped` )

[2022-05-17 02:44] Northxw opened #2449 "RIDE keyword search error"
&emsp; Hello, when I use the search function of the RIDE development tool, an error occurs, as shown in the figure.

![image](https://user-images.githubusercontent.com/38708989/168714926-401e57bf-b673-40a5-a892-1904669fb82d.png)

&emsp; I have tried searching in Chinese, English, special characters, etc., no matter whether the keyword exists or not, the error log results are the same.

&emsp; Then

[2022-05-17 05:44] robot-user-rudi opened #2450 "Cell edit with F2 not working in RIDE 1.7.4.2"
When I'm using F2 key to edit a cell, cell color is changed to light yellow, but cursor is not positioned.
So pressing cursor left or right afterwards changes the cell instead of moving around in the cell.

This was working fine in RIDE 1.5.
I observe this on Python 2.7.13 as well as on Python 3.7.9.

[2022-05-17 05:47] robot-user-rudi commented on #2450
1st installation:
Windows Server 2008 R2
Python 2.7.13
Installed libraries:
Package                         Version
------------------------------- -----------
-ryptography                    3.3.2
bcrypt                          3.1.7
certifi                         2020.12.5
cffi                            1.14.4
chardet                         4.0.0
cryptography                    3.3.2
enum34

[2022-05-17 05:49] robot-user-rudi commented on #2450
2nd installation:
Windows Server 2012 R2
Python 3.7.9
Installed libraries:
Package                         Version
------------------------------- -----------
asn1crypto                      1.4.0
async-generator                 1.10
attrs                           21.4.0
bcrypt                          3.2.0
certifi                         2021.10.8
cffi                            1.15.0
chardet

[2022-05-17 15:28] rbuchmann77 opened #2451 "BuiltIn.Skip make ride to fail"
I created a test case with 1 line/step:
```BuiltIn.Skip    TODO```

When I run robot from bash, it works. The report generates no warning/errors. I have the right number of tests count, passed, failed, and skipped.

When I use Ride, I get exceptions:
[code]

[2022-05-17 21:45] HelioGuilherme66 commented on #2449
This is fixed in current development version.
From the [CHANGELOG](https://github.com/robotframework/RIDE/blob/master/CHANGELOG.adoc): `Fixed search in Text Editor with wxPython 4.1.0`

[2022-05-17 21:46] #2449 closed

[2022-05-17 21:48] HelioGuilherme66 commented on #2450
This is fixed in current development version.
From the [CHANGELOG](https://github.com/robotframework/RIDE/blob/master/CHANGELOG.adoc): `Changed moving to keyword definition to be with Ctrl-Click (keep Ctrl-B action)`
  `- To edit cell use F2 or Double-Click`

[2022-05-17 21:48] #2450 closed

[2022-05-17 21:51] HelioGuilherme66 commented on #2451
This is fixed in current development version.
From the [CHANGELOG](https://github.com/robotframework/RIDE/blob/master/CHANGELOG.adoc): `Fixed TestRunner crash when test use SKIP keyword`

[2022-05-17 21:51] #2451 closed

[2022-05-18 06:23] axiom41 opened #2452 "Wrong background color on commented lines"
Hello.
Since a couple of dev releases (i'm currently using RIDE v2.0b2.dev8 on Windows environment, with Python 3.7.9), grid mode is showing a red background on commented lines for non-empty cells from the 4th one onwards:

![image](https://user-images.githubusercontent.com/9963199/168970882-b615e937-6568-4329-8bc9-c9229644ac2a.png)

[2022-05-18 09:21] HelioGuilherme66 commented on #2452
@axiom41 Thanks for the report. This is known but lower priority (and there are more coloring problems in other cases like in indented blocks, WHILE, IF, ...).

[2022-05-19 12:30] HelioGuilherme66 commented on #2435
@irapths Thanks. I'll see what I can do.

[2022-06-05 22:29] HelioGuilherme66 commented on #2412
Fixed by #2453

[2022-06-05 22:29] #2412 closed

[2022-06-05 22:31] HelioGuilherme66 commented on #2200
Fixed by #2453

[2022-06-05 22:31] #2200 closed

[2022-06-05 22:33] HelioGuilherme66 commented on #1293
Fixed by #2453

[2022-06-05 22:33] #1293 closed

[2022-06-05 22:36] HelioGuilherme66 commented on #1134
Fixed by #2453 (hopefully ;) )

[2022-06-05 22:36] #1134 closed

[2022-06-06 15:26] axiom41 opened #2454 "Start buttons to run tests do not work in v2.0b2.dev9"
Hello Hélio.
After updating RIDE to v2.0b2.dev9, both buttons to run/start (in top button menu and in Run tab) tests are not active anymore.
Also F8 is inactive.
I'm running RIDE on Win 10 with Python 3.7.9 x64

Reverted to v2.0b2.dev8

[2022-06-06 19:28] HelioGuilherme66 commented on #2454
@axiom41 RIDE works perfectly when using **installed** older Robot Framework (for example 3.2.1). It was working on my testing because it works fine with the IDE (it sets PYTHONPATH to use provided lib/robot). The fix will be to ensure it uses the provided lib.

[2022-06-06 20:19] HelioGuilherme66 commented on #2454
After all, the problem is that when launching with `pythonw.exe` the stdout window is not appearing like it used to. If we launch RIDE from a command window, it will work.

[2022-06-07 06:40] axiom41 commented on #2454
Hi Hélio.
Yes, i tried launching RIDE from a cmd window and it worked. While waiting for a fix with pythonw.exe, i'll keep using this workaround.

Thanks again for your support.

[2022-06-08 11:46] Gyaneswar commented on #1768
Hi @ajaysmadhavan Can you remember which packages you reinstalled i am facing a similar issue

[2022-06-11 02:08] #2454 closed

[2022-06-15 06:37] axiom41 opened #2456 "FOR cycle corrupted when changing step value"
Hi Hélio
In grid mode, i noticed that often, changing the step value in a "FOR - END" cycle, the entire content of the cycle is removed, as shown in the 2 attached pics. Undo with Ctrl-Z does not restore the cycle, so i have to reload the file without saving and make the change in text mode.
I'm on RIDE v2.0b2.dev10 (but issue was present also in previous versions), Win 10 and Python 3.7.9 x64

![

[2022-06-16 15:56] HelioGuilherme66 commented on #2456
Thanks, for the report.
I know, of this, and still trying to fix. This is because of indentation.

[2022-06-23 08:57] guyongqiangx commented on #2440
I meet the same issue with below configuration:
robotframework 5.0.1
robotframework-ride 2.0b2.dev10
wxPython 4.1.1

I close the RIDE, try to use pycharm for edit some of the files, then re-open RIDE, no files there:

<img width="213" alt="1655974524(1)" src="https://user-images.githubusercontent.com/22298198/175259515-b9cd1504-5fc6-4bb5-a4f4-6d58fa231647.png">
<img width="203" alt="1655974552(1)"

[2022-06-28 13:49] axiom41 opened #2460 "Wrong indentation on FOR cycle (RIDE v2.0b2.dev11, text mode editing)"
Hi Hélio.
After updating to v2.0b2.dev11, i noticed that, in text mode editing, keywords placed within a FOR/END cycle at "root" level were shifted by 4 additional extra spaces. Inner FOR/END cycles leave internal keywords with proper 4-spaces indentation.
This happens even just opening a file and extra indentation spaces are obviously saved after any modification.

Please check the before/after i

[2022-06-28 13:58] axiom41 commented on #2460
Unfortunately they are also saved on file if any modification is made. If file is not saved, spaces are not added.

[2022-06-28 14:15] HelioGuilherme66 commented on #2460
@axiom41 Can you come to our Slack? I would to like to chat with you :).

Do you have time to prepare a test case file (or test Suite) indentation of all the new blocks special keywords: FOR, IF, ELSE, ELSE IF, END, WHILE, CONTINUE, BREAK, TRY, EXCEPT. ?

Current dev version already support them, and only the first FOR have indentation problems. Still to fix some rows delete, insertions and undo/r

[2022-06-28 16:30] axiom41 commented on #2460
Hi Hélio.
Here is a "quick & dirty" file containing the various loops, just to test the RIDE behavior.
It seems that only FOR is affected by the "extra-indenting" and just at "root" level
[Loop01.zip](https://github.com/robotframework/RIDE/files/9002900/Loop01.zip)

Will try to join you on Slack

[2022-06-28 16:34] axiom41 commented on #2460
Sorry, i closed by mistake

[2022-07-08 21:12] emadushe opened #2461 "RobotFramework Installed but not recognized when 'robot --version' command ran"
![image](https://user-images.githubusercontent.com/106224971/178070950-ce48a8aa-292d-49bf-921f-c8a13ddfd245.png)

[2022-07-12 12:13] HelioGuilherme66 commented on #2195
@rbradhika530 Sometimes it takes some time ;) to load the keyword docs. A restart of RIDE should fix it. If not then there should be complete error logged in Tools->View RIDE Log.

[2022-07-12 16:25] HelioGuilherme66 commented on #2461
@emadushe That is not a problem with RIDE, but with robotframework installation.

You must add to the PATH the (...)\python310\scripts where tools are installed.

[2022-07-12 16:25] #2461 closed

[2022-07-13 11:21] HelioGuilherme66 commented on #2456
@axiom41 Unfortunately, the current master v2.0b2.dev12 still have this problem!!!!

This is a **BLOCKER** for next pre-release!!

[2022-07-13 20:01] psam44 opened #2463 "Traceback if inpath CLI argument not given"
Win 10
robotframework-ride-2.0b1

Every time I leave the RIDE window:
[code]
No surprise, inpath is None (and no file ever open), and so is self.workspace_path, given to RideFSWatcherHandler.

And every time I return to the window (I suppose it is related):
![image](https://user-images.githubusercontent.com/537094/178822022-85503d54-fe3b-4e45-a14d-28d39954d1d1.png)

[2022-07-14 06:27] JFoederer opened #2464 "Performance drop loading test suite"
I have been running some tests on RIDE version 2.0b2.dev11 and noted a significant performance drop when loading test suites. Opening a test suite consisting of approximately 2500 robot files previously took just seconds to load, now it takes more than 5 minutes.

The amount of keyword libraries also plays a role. There are some variations, but the majority uses a predefined set of approximately 5

[2022-07-14 08:47] HelioGuilherme66 commented on #2463
@psam44 Thanks for the report, but 2.0b1 code is already too much changed to be considered as fixable. Users should always try the most recent version from development (install from `master` branch), and confirm if the issue still exists.
The relevant part of the code with the problem you report is now:
[code]

[2022-07-14 08:47] #2463 closed

[2022-07-14 08:57] HelioGuilherme66 commented on #2464
@JFoederer I have some ideas where the problem may be. I would like for to try to generate sample data, with similar conditions of your test suites. For that, we have a script that you can call. Here is some help:
[code]
I you create one, please post here the command you used (preferably with a  fixed  random seed). then we can benchmark with it.
Thanks.

[2022-07-14 09:17] JFoederer commented on #2464
That looks like a very useful tool!
What is the syntax for passing the options? It keeps telling me it doesn't know any of the options.

[2022-07-14 09:26] JFoederer commented on #2452
Is there a central place where the known coloring issues are collected? I have also spotted two other, (not indentation related) issues and want to check if they are already known issues.

[2022-07-14 11:21] HelioGuilherme66 commented on #2464
Sorry, I did tried today but seems that it is not working. I suspect changes on argsparser module.

[2022-07-14 11:25] HelioGuilherme66 commented on #2452
@JFoederer Maybe is better to create a new issue.

I know that there are some inconsistencies. For example the keywords use in Text Editor are always in red (or some other default).

[2022-07-14 16:35] axiom41 commented on #2464
Hi all... Maybe i'm wrong but as far as i could see, the performance degradation when loading the test suites is related to the indentation problems (issue #2460), because RIDE (starting from 2.0b2.dev11) is adding the extra spaces since the suite loading, even without making any change. The more test suites/test cases you have, the more you have to wait for RIDE to add such spaces.
That's why i'm

[2022-07-14 18:30] JFoederer opened #2465 "Wrong argument hint color on multi-line statements"
Consider a keyword that takes exactly three arguments. When vertically aligning the arguments over multiple lines using the continuation ellipses (...), the argument hint colors the cells on the first line instead.
![image](https://user-images.githubusercontent.com/32476108/179055757-8f103815-7140-44bf-a18c-b12ea25a75fd.png)

[2022-07-19 14:55] JFoederer opened #2466 "Wrong argument hint color when using inline keyword arguments"
The most prominent issue with highlighting I am running into now concerns operator keywords. Binary operator keywords are placed in between its arguments for readability. The highlighting expects additional arguments at the end that are already processed. In practise this means that my **test cases are now cluttered with red cells**, as in this basic example:
![image](https://user-images.githubuse

[2022-07-19 14:58] JFoederer commented on #2466
A few more situations to complete the picture
![image](https://user-images.githubusercontent.com/32476108/179782142-353a55be-6244-4b44-9c60-01cee7bfe5ae.png)

[2022-07-19 15:03] JFoederer commented on #2464
I can also confirm that the performance drop is not yet present in 2.0b2.dev10. That does narrow down the search a lot.

[2022-07-25 15:13] JFoederer commented on #2466
Optional arguments with a single inline keyword argument also presents some issues:
![image](https://user-images.githubusercontent.com/32476108/180811191-d549764b-11cc-4c2c-89fe-3931b7b33bdb.png)
`def Keyword_with_optional_arguments(self, number, arg2=None, arg3=None, arg4=None):`

The first two lines have correct highlighting
The third line uses the keyword **twelve** inline (takes no arguments).

[2022-07-31 21:53] #1533 closed

[2022-07-31 21:53] #1668 closed

[2022-07-31 21:53] #2300 closed

[2022-07-31 21:53] #2365 closed

[2022-07-31 21:53] #2370 closed

[2022-07-31 21:53] #2398 closed

[2022-07-31 21:53] #2403 closed

[2022-07-31 21:53] #2436 closed

[2022-07-31 21:53] #2456 closed

[2022-07-31 21:53] #2460 closed

[2022-08-02 22:50] #2452 closed

[2022-08-02 22:50] #2388 closed

[2022-08-03 01:28] #2392 closed

[2022-08-03 20:26] HelioGuilherme66 commented on #2321
Tested on Fedora 36 with Python 3.10, wxPython 4.0.7 and version 2.0b2.dev16.

[2022-08-06 22:26] HelioGuilherme66 commented on #2331
I have been experimenting this and did not have much success when using `robot`. Never got to have instant logging, only appears in the end of test run. (But RIDE still behaves like described).
I attach my files with a Listener.
[test_temeout.zip](https://github.com/robotframework/RIDE/files/9275850/test_temeout.zip)

[2022-08-10 09:54] JFoederer opened #2473 "wxPython 4.2.0 support"
RIDE has a dependency with wxpython and there are some compatibility issues when running on python 10.

When using python 10 on Windows, wxpython versions older than 4.2 do not install. Older versions of wxpython on Linux show similar compatibility issues: **TypeError: could not convert 'SourceEditor' to 'Dialog'**.

Observed on:
- Windows 11 | Python 3.10 | wxpython 4.2.0
- Ubuntu 22 | Python 3.1

[2022-08-11 10:46] HelioGuilherme66 commented on #2473
@JFoederer I have cleaned up the code, and RIDE now starts fine in Ubuntu 22, Python 3.10 and wxPython 4.2.0. But unfortunately, the Grid Editor is broken (because of Settings' tooltips). If you want to experiment on Windows, please install with:
[code]

[2022-08-19 07:22] Nguyenvi1402 opened #2474 "Ride EDIT screen is blank"
![image](https://user-images.githubusercontent.com/67002344/185565527-678094b1-383b-415b-a575-8dc6d3a97b39.png)

python version 3.9.13

[2022-08-19 07:24] Nguyenvi1402 commented on #2474
Can someone help me?

[2022-08-19 10:30] HelioGuilherme66 commented on #2474
Maybe this helps: https://github.com/robotframework/RIDE/wiki/F.A.Q.#15--q-i-have-recently-installed-the-development-version-and-wxpython-420-since-then-the-grid-editor-appears-empty-or-faulty-how-to-fix

[2022-08-20 01:27] HelioGuilherme66 commented on #2473
Fixed by #2475

[2022-08-20 01:27] #2473 closed

[2022-08-22 02:51] #2320 closed

[2022-08-22 06:26] CapWilder commented on #1468
Add these to your bash_profile

1) Open terminal and type "open -e .bash_profile" without the quotes.

2) Copy paste the below commands at the end of the file-
PATH="/Users/***{your username}***/Library/Python/3.10/bin:${PATH}"
export PATH
PATH="/Users/***{your username}***/Library/Python/2.7/bin:${PATH}"
export PATH

3) Save the file and then restart ride.

[2022-08-22 11:09] HelioGuilherme66 commented on #1468
@CapWilder Thanks for posting in a Closed issue, opened in 2015, this is not useful.

[2022-08-22 17:33] Futhark1988 opened #2477 "Add List & Add Dict are not working"
**Steps to reproduce:**

- Open RIDE
- Creata a Project
- Click on Add List & Add Dict

**Expected result**
A window appears in which you can set the values of lists and dictionaries respectivly.

**Actual result**
Nothing happens.

**Version**
RIDE v2.0b2.dev20 running on Python 3.10.6.

**OS**
Windows 11 Home 21H2

**wxPython**
4.2.0

[2022-08-22 18:49] HelioGuilherme66 commented on #2477
@Futhark1988 Thanks for the report. (you could have added more info, like operative system and version of wxPython)

Here is the error output on Windows 10, wxPython 4.2.0, Python 3.10.6 (venv):
[code]

This looks like an easy fix.

[2022-08-22 21:22] Futhark1988 commented on #2477
I added the details. A template for the issues would help a lot. ;)

[2022-08-23 00:29] HelioGuilherme66 commented on #2477
@Futhark1988 Current fix allows to create variables but not Edit (causing RIDE lock!!) Still debugging this.
Code at: https://github.com/HelioGuilherme66/RIDE/archive/refs/heads/miscellaneous.zip

[2022-08-24 16:46] lucsontest commented on #1796
Thank you for this. i've been searching for a solution this for some time now.

[2022-08-25 10:03] HelioGuilherme66 opened #2478 "Change default/fallback language from en_UK to en_GB or en_US"
For example in Ubuntu we get a pop-up mentioning that en_UK does not exist (which is correct). We should have en_GB but maybe is better to use the universal one en_US.

[2022-08-27 18:42] #2477 closed

[2022-08-28 22:51] #2478 closed

[2022-08-28 22:54] HelioGuilherme66 commented on #2192
Moving to 2.1 because of lack of resources (time and people)

[2022-08-28 22:56] HelioGuilherme66 commented on #2233
Moving to 2.1 because of lack of resources (time and people)

[2022-08-28 23:01] HelioGuilherme66 commented on #2254
Moving to 2.1 because of lack of resources (time and people)

[2022-08-28 23:03] HelioGuilherme66 commented on #306
Moving to 2.1 because of lack of resources (time and people)

[2022-08-28 23:11] HelioGuilherme66 commented on #2120
Moving to 2.1 because of lack of resources (time and people)

[2022-08-28 23:18] HelioGuilherme66 commented on #2301
Moving to 2.1 because of lack of resources (time and people)

[2022-08-28 23:20] HelioGuilherme66 commented on #2240
Moving to Future because of lack of resources (time and people)

[2022-08-29 11:01] zhangys1989 commented on #2474
I have the same problem

Ride open blank

my python version is 3.8.10\3..10\3.7.5
anyone can help me?

[2022-08-29 11:09] HelioGuilherme66 commented on #2474
@zhangys1989 I labeled this Issue as bad issue report, because the creator does not mention what version of RIDE and wxPython is using.

For you and @Nguyenvi1402, if you are using wxPython 4.2.0, you can use the current development version of RIDE.

[2022-08-29 11:12] zhangys1989 commented on #2474
python version is 3.8.10\3.10\3.7.5
wxPython 4.2.0
ride version is 2.0b1 and 1.7.4.2
I tested both versions, but they didn't work

[2022-08-29 11:16] zhangys1989 commented on #2474
python version is 3.8.10\3.10\3.7.5
wxPython 4.2.0
ride version is 2.0b1 and 1.7.4.2
I tested both versions, but they didn't work

[2022-08-29 11:16] zhangys1989 commented on #2474
@HelioGuilherme66
python version is 3.8.10\3.10\3.7.5
wxPython 4.2.0
ride version is 2.0b1 and 1.7.4.2
I tested both versions, but they didn't work

[2022-08-29 11:23] HelioGuilherme66 commented on #2474
@zhangys1989 Like I said, you must install the development version from `master` branch. See the README.adoc on this project Code page.

[2022-08-29 11:34] zhangys1989 commented on #2474
@HelioGuilherme66 thank you very much

[2022-08-29 21:55] #2278 closed

[2022-08-30 01:43] zhangys1989 opened #2482 "run testcase,can not see log,browser can not open"
run testcase,can not see log,browser can not open
python version 3.10.0
wxpython version 4.2.0
ride version is master code
![image](https://user-images.githubusercontent.com/41988543/187329676-169a5b6d-b905-4594-b29f-e9a23b442661.png)

[2022-08-30 01:47] zhangys1989 commented on #2482
@HelioGuilherme66 can you help me?

[2022-08-30 02:41] zhangys1989 commented on #2482
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/robotide/contrib/testrunner/testrunnerplugin.py", line 570, in OnTimer
    self.OnProcessEnded(None)
  File "/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/robotide/contrib/testrunner/testrunnerplugin.py", line 521, in OnProcessEnded
    output, er

[2022-08-30 04:53] zhangys1989 commented on #2482
20220830 12:51:50.008 [INFO]: Found Robot Framework version 5.0.1 from /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/robot.

20220830 12:51:50.009 [INFO]: Started RIDE v2.0b2.dev23 using python version 3.10.1 with wx version 4.2.0 in darwin.

[2022-08-30 05:10] zhangys1989 opened #2483 "ride can not see run page"
python version 3.10.0
wxpython version 4.2.0
ride version is master code

robotframework                  5.0.1
robotframework-appiumlibrary    1.6.3
robotframework-databaselibrary  1.2.4
robotframework-pythonlibcore    3.0.0
robotframework-ride             2.0b2.dev23
robotframework-selenium2library 3.0.0

![13](https://user-images.githubusercontent.com/41988543/187354263-37732df3-eeee-458f-9a07-

[2022-08-30 05:11] zhangys1989 commented on #2483
log_message
    return pluginapi.RideLogMessage(
AttributeError: module 'robotide.pluginapi' has no attribute 'RideLogMessage'
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/robotide/contrib/testrunner/testrunnerplugin.py", line 570, in OnTimer
    self.OnProcessEnded(None)
  File "/Library/Frameworks/Python.framework/Vers

[2022-08-30 05:11] zhangys1989 commented on #2483
@HelioGuilherme66 can you help me?

[2022-08-30 05:46] zhangys1989 commented on #2483
@tommi @pekkaklarck @edbrannin @bjornfor can you help me?

[2022-08-30 08:41] JFoederer commented on #2483
Not a fix, but a workaround to get it back:
From the _Tools_ menu open _Manage Plugins_, and then disable and re-enable the _Test Runner_ plugin.

[2022-08-30 11:01] zhangys1989 commented on #2483
@JFoederer thank you

[2022-08-30 11:02] zhangys1989 commented on #2483
File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/robotide/contrib/testrunner/testrunnerplugin.py", line 521, in OnProcessEnded
    output, errors, log_message = self._test_runner.get_output_and_errors(
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/robotide/contrib/testrunner/testrunner.py", line 177, in get_output_and_e

[2022-08-30 11:07] zhangys1989 commented on #2483
![image](https://user-images.githubusercontent.com/41988543/187421510-9a7801e5-90e3-441d-a5ed-01b60722057a.png)

[2022-08-30 18:14] HelioGuilherme66 commented on #2482
@zhangys1989 You should have more care when creating Issues. You should have noticed that the error log you pasted (Traceback) was several times repeated, and that long repeated information would not be useful.

Looking at that output we can see that RIDE tried to find some function in Python 3.8, but your installation is in Python 3.10.
"/Library/Frameworks/Python.framework/Versions/**3.8/lib/pyt

[2022-08-30 18:17] #2482 closed

[2022-08-30 18:29] HelioGuilherme66 commented on #2483
@zhangys1989 Like I mentioned in #2482, you are using `pybot` run profile, which exists in RIDE just for a matter of backwards compatibility. and probably will be removed in a near future.

The solution is to use the `robot` run profile.

If you want to keep several Python/RIDE or Robot Framework versions, you should adjust the scripts to launch each tool (like PATH, PYTHONPATH, etc).

[2022-08-30 18:30] #2483 closed

[2022-09-05 10:08] #2474 closed

[2022-09-05 10:10] #2440 closed

[2022-09-05 10:14] #2430 closed

[2022-09-05 10:14] #2420 closed

[2022-09-05 10:15] #2414 closed

[2022-09-05 10:15] #2397 closed

[2022-09-05 10:16] #2396 closed

[2022-09-05 10:17] #2348 closed

[2022-09-05 10:19] #2329 closed

[2022-09-05 10:21] #2270 closed

[2022-09-05 10:22] #2250 closed

[2022-09-05 10:23] #2238 closed

[2022-09-05 10:24] #2227 closed

[2022-09-05 10:25] #2207 closed

[2022-09-05 10:26] #2095 closed

[2022-09-05 10:27] #2094 closed

[2022-09-05 10:28] #2089 closed

[2022-09-05 10:29] #2085 closed

[2022-09-05 10:29] #2022 closed

[2022-09-05 10:36] #1688 closed

[2022-09-05 11:15] HelioGuilherme66 commented on #2435
This is still happening on v2.0b2.

After saving original in RIDE, the comments move from steps to documentation (this is not acceptable):
- reformatted:
[code]

[2022-09-05 11:16] #2416 closed

[2022-09-05 11:25] HelioGuilherme66 commented on #2439
@irapths Please retest on new version 2.0b2.

[2022-09-05 11:27] #2357 closed

[2022-09-05 11:28] HelioGuilherme66 commented on #2438
@irapths Please retest on new version 2.0b2.

[2022-09-05 11:36] HelioGuilherme66 commented on #2399
@linbwu A long time has passed, and now is time to re-check this on new version 2.0b2.

If you add the path to libraries in PYTHONPATH (Tools->Preferences->Importing) would solve the problem? Then we don't need to modify code.

Thanks.

[2022-09-05 11:37] HelioGuilherme66 commented on #2390
@JFoederer Please retest on new version 2.0b2.

[2022-09-05 11:39] HelioGuilherme66 commented on #2367
@axiom41 We have now the new version 2.0b2.

[2022-09-05 11:39] #2367 closed

[2022-09-05 11:40] HelioGuilherme66 commented on #2369
@xiaojike1213 Please retest on new version 2.0b2.

[2022-09-05 11:41] HelioGuilherme66 commented on #2361
@mark26195491 Please retest on new version 2.0b2.

[2022-09-05 11:42] HelioGuilherme66 commented on #2354
@gigglegile Please retest on new version 2.0b2.

[2022-09-05 11:44] HelioGuilherme66 commented on #2334
@pkhot5 Please retest on new version 2.0b2.

[2022-09-05 11:52] HelioGuilherme66 commented on #479
On new version 2.0b2, Ctrl-Z (Undo) resetting to saved state is working on Text Editor, but not on Grid Editor.

I am closing this, because it is dated from 2010. If needed we open a new issue.

[2022-09-05 11:52] #479 closed

[2022-09-05 11:55] HelioGuilherme66 commented on #2351
@JoaoPequeno Please retest on new version 2.0b2.

[2022-09-08 09:03] JFoederer commented on #2390
@HelioGuilherme66 Can you please remind me where the RIDE logfile can be found on Linux? I installed the latest master, but now I have a hangup during startup. I'd like to check what is going on.

[2022-09-08 09:11] JFoederer commented on #2464
Is there any news on this topic? For large projects anything later than dev10 is not workable due to excessive load times.

[2022-09-08 18:41] emakaay commented on #2464
👍 Projects that normally take 10 seconds to load. Now take several to 4 minuten to start. Not ideal

[2022-09-12 18:21] bajoriaraghav opened #2487 "RIDE crashes whenever i try to remove any tag from a suite or test case and press enter"
1. Open RIDE
2. Navigate to any test case or suite that has tags
3. Remove the tag and press enter
4. RIDE gets CRASH

It closes the RIDE terminal window as well and hence error could not be captured. Crash is easily reproducible

RIDE version : 1.7.4.2
ROBOT Framework version : 3.1.2
Python version : 3.7.9

[2022-09-12 18:27] HelioGuilherme66 commented on #2487
@bajoriaraghav Software testers should know how to report issues. Missing essential information.

[2022-09-12 18:29] HelioGuilherme66 commented on #2464
@JFoederer and @emakaay It will be my next priority to fix this, after my current task.

[2022-09-12 18:30] emakaay commented on #2464
👍

[2022-09-12 19:17] bajoriaraghav commented on #2487
@HelioGuilherme66 Updated the version details in the description.

[2022-09-12 19:33] HelioGuilherme66 commented on #2487
Well, we had that Bug before and it was fixed. Maybe in the development version.
That version will not have maintenance.

You can try to install the current 2.0 Beta2.

I advise you to make a backup of your ~/.robotframework/ride or %APPDATA%\Robotframework\ride (in Windows) and install.

to upgrade:
`pip install -U --pre robotframework-ride`

to install (maybe in a different python install, or vi

[2022-09-12 19:33] #2487 closed

[2022-09-12 19:38] bajoriaraghav commented on #2487
@HelioGuilherme66 Thanks for the update

[2022-09-15 00:08] sofezticated-gentleman commented on #2120
Hi @HelioGuilherme66 ,is this issue still open?

[2022-09-15 12:27] HelioGuilherme66 commented on #2120
@sofezticated-gentleman Yes it is active.

Please follow the suggestions.

Thanks for collaborating!

[2022-09-16 02:24] sofezticated-gentleman commented on #2120
@HelioGuilherme66 I have added the points mentioned by @adrianyorke. This is my first issue so if there are any mistakes or changes please do tell me

[2022-09-16 07:33] zhangys1989 opened #2488 "run ride,log error:No keyword with name 'TRY' found"
Starting test: Suit1.
20220916 15:23:15.731 :  FAIL : No keyword with name 'TRY' found.

No keyword with name 'BuiltIn.TRY' found.

python version 3.10.0
wxpython version 4.2.0
ride version is master code

robotframework 5.0.1
robotframework-appiumlibrary 1.6.3
robotframework-databaselibrary 1.2.4
robotframework-pythonlibcore 3.0.0
robotframework-ride 2.0b2.dev23
robotframework-selenium2library 3.

[2022-09-16 07:35] zhangys1989 commented on #2488
@HelioGuilherme66 can you help me

[2022-09-16 14:48] HelioGuilherme66 commented on #2488
@zhangys1989 Here are my comments:
The output in Console and Log panels comes from the execution of roibot, so it is very unlikely that the problem is from RIDE.
You should take a look at log.html to better locate the error.
There is a selected test case named `${EMPTY}`, this may have been caused by a RIDE bug (sometimes empty lines in Grid Editor go replaced by the ${EMPTY} variable). You should

[2022-09-16 15:10] HelioGuilherme66 commented on #2120
@sofezticated-gentleman Thank you for your effort.
Let me clarify this Feature Request :) :
- We want to have a new file in the root of the project named, `CONTRIBUTING.adoc`
(I prefer to use the ascii doctor markdown format)
- You should take a look of other projects' CONTRIBUTING` files. For example, the template of GitHub, and other Robotframework projects.
- Use the suggestions you already add

[2022-09-19 07:44] zhangys1989 commented on #2488
my system is Mac@HelioGuilherme66

[2022-09-19 11:53] zhangys1989 opened #2489 "use python run case，invalid syntax，A screenshot error occurred"
EDIT: Removed image for security reasons

Python 3.10.5
robotframework                  5.0.1
robotframework-appiumlibrary    1.6.3
robotframework-databaselibrary  1.2.4
robotframework-pythonlibcore    3.0.0
robotframework-ride             2.0b2.dev23
wxPython                        4.2.0

[2022-09-19 11:54] zhangys1989 commented on #2489
@HelioGuilherme66 python run case,A screenshot error occurred

[2022-09-19 11:55] #2488 closed

[2022-09-19 13:06] HelioGuilherme66 commented on #2489
@zhangys1989 This is not related with RIDE.

You are trying to run a robot test with a call to python.

[2022-09-19 13:07] #2489 closed

[2022-09-20 11:54] doniks opened #2490 "error when trying to run ride.py - ImportError: cannot import name 'Mapping' from 'collections'"
[code]

[2022-09-20 11:59] HelioGuilherme66 commented on #2490
That version of RIDE is not compatible with Python 3.10 (not even python 3.8)
[code]

Correct command is:
[code]

[2022-09-20 11:59] #2490 closed

[2022-09-20 15:03] doniks commented on #2490
thanks for the quick response @HelioGuilherme66 , I tried however, now I see a different error

[code]

[2022-09-20 16:26] doniks commented on #2490
I've now reread some of the docs wrt compatibility... It's still not completely clear to me which version or combination thereof is the most stable / suggested one. Maybe python 3.7?! However from the normal Ubuntu repos directly I can only get 3.8 and 3.10... So, maybe I'm just out of luck

[2022-09-20 22:14] Futhark1988 opened #2491 "Cursor jumps to the begining of the already typed words when pressing CTRL+SPACE"
1. Open RIDE
2. Navigate to any test case or suite
3. Go to the Text Edit view
4. Start typing a keyword e.g Get
5. Press CTRL+SPACE

**Current result:**
The list of possible keywords are shown, but the cursor jumps to the begining of the keyword. This is unfortunate as one might start typing again to narrow down the list of possible keywords further, but as the cursor jumps to the begining of the

[2022-09-21 14:26] HelioGuilherme66 commented on #2490
@doniks
Try to install this:
`sudo apt install wxpython-tools -y`

If still not working, try to install latest wxPython, version 4.2.0.

[2022-09-23 12:50] sofezticated-gentleman commented on #2120
@HelioGuilherme66 is there a different mailing list for RIDE users if so then please send me so that I could add it in the documentation

[2022-09-23 12:55] sofezticated-gentleman commented on #2120
Submitting Issues

Code contribution

Apart from these are there any more topics or subtopics needed in the `CONTRIBUTION.adoc` file?

[2022-09-23 12:55] HelioGuilherme66 commented on #2120
@sofezticated-gentleman All the communication means are those on the README.adoc page

[2022-09-23 12:57] HelioGuilherme66 commented on #2120
Those are OK.

[2022-09-23 13:09] sofezticated-gentleman commented on #2120
@HelioGuilherme66

oh okay

[2022-09-23 13:20] sofezticated-gentleman commented on #2120
@HelioGuilherme66 where can I get more info about test, user guide and documentation for RIDE. Also do RIDE support the latest versions of Python?

[2022-09-26 15:55] HelioGuilherme66 commented on #2120
`... get more info about test, user guide and documentation for RIDE. Also do RIDE support the latest versions of Python?`

Tests . We only have unit tests. look at /utest
Docs --> We only have the Wiki
Versions -> Reference is `/README.adoc` should be v1.74.2 -> supports 2.7, 3.6 and 3.7. v2.0b1 removes 2.7 and adds 3.8. Current development and 2.0b2 adds 3.9 and 3.10.

[2022-09-26 17:34] keshavvprabhu opened #2492 "Skip and Skip If Keywords Crashing in robotframework-ride==2.0b1"
Skip and Skip If causes RIDE to crash. It runs fine on CLI without any issues.

RobotFramework Version : robotframework==5.0.1
RIDE Version: robotframework-ride==2.0b1
Python : 3.7 (64 bit)

![image](https://user-images.githubusercontent.com/17060111/192342367-58766ba3-d436-4ca9-9e97-c56110a39891.png)

Error Observed:

  File "D:\workspace\py37\lib\site-packages\robotide\contrib\testrunner\TestRun

[2022-09-27 07:52] HelioGuilherme66 commented on #2492
@keshavvprabhu This was fixed in current v2.0b2.
Please upgrade RIDE with:
[code]

[2022-09-27 16:59] #2492 closed, assigned to nobody

[2022-09-30 12:29] JFoederer commented on #2390
Now I get a clear message informing me that Robot framework is not installed, plus a link to their website. Perfect!

[2022-09-30 12:29] #2390 closed

[2022-10-03 15:43] sofezticated-gentleman commented on #2120
@HelioGuilherme66  where can i find more information on unit testing for the ride and its procedure??

[2022-10-04 10:41] JFoederer commented on #2120
Did you already find this document?
https://github.com/robotframework/RIDE/blob/master/BUILD.rest#unit-tests

[2022-10-09 06:14] zhujunling-nj commented on #2361
RIDE v2.0b2
wxPython  4.1.1
Python 3.8.10
Windows 10

Print the error for Chinese name of test case:
Traceback (most recent call last):
  File "C:\Python38\lib\site-packages\robotide\contrib\testrunner\testrunnerplugin.py", line 575, in OnTimer
    self._append_to_console_log(out_buffer, source="stdout")
  File "C:\Python38\lib\site-packages\robotide\contrib\testrunner\testrunnerplugin.py", line 6

[2022-10-09 11:29] HelioGuilherme66 commented on #2361
Please see my comment on #2494

[2022-10-10 23:51] tlietz opened #2495 "Creating testcases dynamically through prerunmodifiers does not work when using RIDE"
In a suite, I have multiple testcases.

I am trying to dynamically create a testcase, `Last_Tc`, with a prerunmodifier that will always run as the last testcase no matter which tests I select to run in RIDE.

With the following code, `Last_Tc` does not run when executing my tests from RIDE. I think it has something to do with the mechanism that RIDE uses to skip testcases in a suite that are not c

[2022-10-11 06:44] JFoederer commented on #2495
I have been successfully modifying test suites at run time, and have also been running them from RIDE. The tree view in RIDE will only report its check marks on test cases that were there at the start, but the reports show all the new and moved test cases as well.

A difference might be that I was using the [listener interface](https://robotframework.org/robotframework/latest/RobotFrameworkUserGui

[2022-10-11 13:28] tlietz commented on #2495
Using the [listener interface](https://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#toc-entry-588) works

[2022-10-11 13:28] #2495 closed

[2022-10-17 15:59] zhuyu4839 opened #2496 "AttributeError: 'CodeEditorPanel' object has no attribute 'CodeModules'"
RIDE Version: 2.0b2
RF Version: 6.0rc2
wxPython Version: 4.1.1

Traceback (most recent call last):
  File "...\robotide\editor\customsourceeditor.py", line 702, in OnRadioButton
    if modSelected != self.CodeModules.GetActiveID():
AttributeError: 'CodeEditorPanel' object has no attribute 'CodeModules'
Error in atexit._run_exitfuncs:
wx._core.wxAssertionError: C++ assertion "GetEventHandler() == t

[2022-10-22 10:01] keshavvprabhu opened #2497 "RIDE 2.0b2 Undo/Uncomment a Comment using Shortcut Ctrl+z/Ctrl+4 causes the Keyword to be Misplaced to the rightmost cell"
This is to report an issue with the editor RIDE robotframework-ride==2.0b2

![ride_2 0b2_Comment_Uncomment_Undo_22 10 2022_05 58 50_REC](https://user-images.githubusercontent.com/17060111/197333312-db399fb1-8e90-4cff-bd54-cdd30c98038b.png)

I am using Python 3.7.0, robotframework==5.0.1, robotframework-ride==2.0b2

[2022-10-27 21:38] HelioGuilherme66 commented on #2361
This is another test case with similar problems, even applying the #2494 will not show  the expected output.
[code]

[2022-10-28 04:15] fawziridwan opened #2498 "[Issue Loading Test Data][Ride Robot[v.1.7.4.2][Mac OS Catalina]"
Hi @HelioGuilherme66  kindly help to fix this issue, i tried to run Ride on Mac OS Catalina, but have loading test data on +- 2 minutes/still loading, i am using

Requirement install on my Device
- Python 3.6.8
- pip
- robot framework (v.4.1.3)
- RIDE (v.1.7.4.2)
- SeleniumLibrary v4.1.0
- Webdriver (chromedriver untuk chrome)
- gherkin2robotframework 0.3

<img width="1680" alt="image" src="https:

[2022-10-28 09:30] Northxw opened #2499 "[ ERROR ] Suite 'x' contains no tests matching name 'xxx'"
Hi @HelioGuilherme66, when I execute a single test case on the command line, it prompts that the test case does not exist in the test suite, as the picture shows：

![2FEAB4CA-C21D-467c-A61E-A2480AD78E42](https://user-images.githubusercontent.com/38708989/198548033-ca5a52d5-e56a-4a99-b733-9309c32abc71.png)

Then, when I started the RIDE development tool, I found that the Route test suite was recogn

[2022-10-28 15:00] fawziridwan commented on #2498
Hit all, this issue was solve, i am using other version Ride 1.7.4b2, and working fine.

[2022-10-28 15:00] #2498 closed

[2022-10-28 15:08] HelioGuilherme66 commented on #2498
@fawziridwan You are doing things wrong. Using an older version of RIDE is not the solution.
You did not selected a test suite, but you instructed RIDE to search from the root of your Mac disk. Of course it will take time.
.

[2022-10-28 15:27] HelioGuilherme66 commented on #2499
When you run the test in a terminal and get an error, it confirms that it is not a bug in RIDE.
This is the kind of question you should have asked in our Forum.
From the error you show in terminal there is no test case with that name. This could make you wonder, what tests are there then?
You shoul have tried to run the Route.robot without any selection option.

Looking to the Test Suites tree, we

[2022-10-28 15:31] HelioGuilherme66 commented on #2499
You can upgrade RIDE to 2.0b2. See the ReadMe file.

[2022-10-28 15:31] #2499 closed

[2022-10-29 06:26] Northxw commented on #2499
Thank you very much for pointing out the problem.

[2022-10-30 00:14] #2120 closed

[2022-10-31 19:43] RushikSantoki opened #2501 "Unable to import DataDriver Library"
I raised this issue on the DataDriver page and received a response stating it is an issue with ride.

Following are the versions I am working with
robotframework-ride==1.7.4.2
robotframework==3.0.4
robotframework-datadriver==1.6.1

I also tried updating the robotfromework to version 2 and ride to the latest version, but that didn't work either.
The Ride Log does not show any errors in importing th

[2022-11-03 02:07] zhujunling-nj commented on #2361
I set windows non-unicode to Dutch and modified encoding ['CONSOLE'] in testrunnerplugin.py to encoding ['SYSTEM'],  the test case TC1 seems to be working properly.

![2022-11-03_090116](https://user-images.githubusercontent.com/26447863/199635288-5794c1f8-8118-4879-86d1-37b12697f621.png)

[2022-11-03 02:27] zhujunling-nj commented on #2361
In the Dutch language Windows, OEM Code Page is 850, ANSI Code Page is 1252.
The OEMCP apply to the console system calls, and the ANSICP apply to the file system calls. Read and write the robot's STDOUT seem to be file operation.

[2022-11-06 15:33] Harm10 commented on #2361
@zhujunling-nj Your suggestion for encoding SYSTEM also works with me (in essence this is using locale.getpreferredencoding()) but the Chinese test case does not work properly. The Chinese characters all end up as ? characters. Is this also the case when you run it with that SYSTEM encoding?

[2022-11-06 17:43] HelioGuilherme66 commented on #2501
@RushikSantoki Please attach a minimal test suite, so we can experiment.

[2022-11-07 01:19] zhujunling-nj commented on #2361
When I set Winodws to Chinese (code page 936), the Chinese test case runs normal, but TC1 runs abnormally.
In winodws systems, you cannot support two or more non-unicode charsets simultaneously.

[2022-11-07 05:43] zhujunling-nj commented on #2361
In python 3, I use another solution (without the [2494](https://github.com/robotframework/RIDE/pull/2494)), it seems to be working properly.
Set the windows environment PYTHONIOENCODING to UTF-8, and no source code need to be modified. And this solution supports multi-languages.
If this solution also applies to someone else, I will close the [2494](https://github.com/robotframework/RIDE/pull/2494)

[2022-11-07 16:38] Harm10 commented on #2361
What is the best way to set PYTHONIOENCODING to UTF-8? Should it only be set for RIDE execution or RF in general? The latter should also have effect on command line execution?

[2022-11-08 01:30] zhujunling-nj commented on #2361
I have tried two solutions:
1. Set the RIDE shortcut target to  _C:\Python38\pythonw.exe -c "import os; from robotide import main; os.environ['PYTHONIOENCODING'] = 'UTF-8'; main()"_. This is only effective for the RIDE and RF runned by RIDE.
2. Set the system environment PYTHONIOENCODING to UTF-8.
The latter may cause an abnormal display of the python programs running on some platforms (such as Je

[2022-11-08 06:21] zhujunling-nj commented on #2361
Another solution: Modity robotide\contrib\testrunner\Process.py，add one line as follows.
![image](https://user-images.githubusercontent.com/26447863/200489851-a22fab80-0ab7-44f1-822f-020ca44b84d1.png)
This is only effective for the  RF runned by RIDE on windows.

[2022-11-08 09:14] Harm10 commented on #2361
@HelioGuilherme66 I quite like the solution in Process.py. You are then totally independent of what is set outside RIDE. Do you want me to test this?

@zhujunling-nj Maybe you have seen my own PR for testrunnerplugin.py? As this looks like a Windows problem only I tried to make the fix more specific. Maybe you could also have a look?

[2022-11-08 22:09] HelioGuilherme66 commented on #2361
I will test @zhujunling-nj PR, because is already updated to be Windows only, and seems a good solution. Only today I could reproduce the problem. This has been a problem since around 2009. We fix in RIDE, but then some changes in RF brings it back.

[2022-11-08 23:33] HelioGuilherme66 commented on #2361
Closed by #2494

[2022-11-08 23:33] #2361 closed

[2022-11-08 23:37] HelioGuilherme66 commented on #2443
I believe this was also solved by #2494
@zhuyu4839 Can you please confirm by installing from `master` ?

[2022-11-08 23:37] #2443 closed

[2022-11-09 03:50] zhujunling-nj commented on #2361
Yes, I looked at the PR [#2502](https://github.com/robotframework/RIDE/pull/2502).

[2022-11-09 21:44] Harm10 commented on #2351
@HelioGuilherme66 Will this issue also be solved by your last update for coping with diacritic characters on Windows?

[2022-11-09 22:12] HelioGuilherme66 commented on #2351
@Harm10 this is already fixed, but was waiting for confirmation from issue creator.

[2022-11-11 08:54] ANemo-yj opened #2503 "Change the style for the client"
If I can change the client's custom style? If you can what documents should I modify?
For example, I want to change the appearance of some icon should I change?
![image](https://user-images.githubusercontent.com/58975405/201303160-de2fba79-157d-48e7-a5fe-8768d678bcf2.png)

[2022-11-11 09:09] HelioGuilherme66 commented on #2503
This is an advantage of being open source software and interpreted language. You can change the files in the `widgets` directory on the installation of RIDE.

[2022-11-11 09:09] #2503 closed

[2022-11-15 17:15] emakaay commented on #2464
Any progress on this ticket ?

[2022-11-28 18:38] preeram8 opened #2504 "Extremely slowness to run a single test case in Ride v2.0b3.dev1 running on Python 3.9.6."
Iam using Ride version v2.0b3.dev1 running on Python 3.9.6.  I upgraded python version from 3.7 to 3.9 and had to install the new version of RIDE as well. Now i see extreme slowness in running single test case, It takes 35 mins to run a single case which used to take less than a min in the older version.

[2022-11-28 18:46] HelioGuilherme66 commented on #2504
That is really strange, because execution does not depend much on RIDE, but on Robot Framework.
@preeram8 Paste here to top of RIDE>Tools>View RIDE Log, and also the output of a command window/terminal/shell: `robot --version`.

[2022-11-29 03:01] preeram8 commented on #2504
Here is Ride Log:
20221129 00:00:35.931 [INFO]: Found Robot Framework version 6.0.1 from C:\Users\pr0366\AppData\Local\Programs\Python\Python39\lib\site-packages\robot.

20221129 00:00:35.931 [INFO]: Started RIDE v2.0b3.dev1 using python version 3.9.6 with wx version 4.1.1 in win32.

20221129 00:00:35.931 [INFO]: Found Robot Framework version 6.0.1 from

Robot Version from cmd promt:
C:\Users\pr03

[2022-11-29 23:08] HelioGuilherme66 commented on #2504
From a cmd window:
`robot --version`